.appbar{
  width:100%;
  color:inherit;
}
.searchbox{
  font-size:16px;
  color:grey;
}
.search{
  width:75%;
  margin-left:130px !important;
  background-color:white;
  border-radius:10px;
}
.icons{
  font-size:100px !important;
}