.noteCard{
    display: flex;
    flex-Wrap: wrap;
    justify-Content: center;
    margin-Top:2em;
}
.miniNote{
    display: flex;
    flex-Wrap: wrap;
    justify-Content: center;
    flex-direction:row;
    border-radius:5px;
    border-color:grey;
    font-weight: 50%;
    padding-right:20%;
}
.wholeMiniNoteCard{
    margin-top:18%;
    width:800px;
    padding-left:3%;
}
.miniIcons{
    padding-left:0px;
}
.takeNote{
    padding-top:1.5%;
    padding-right:40%;
}
.NoteCard{
    border-radius: 10px; 
    width: 288px;
    height: 180px !important;
    display: flex;
    flex-direction: column; 
    border: solid rgba(128, 128, 128, 0.21);
    margin: 5px;
    padding: 7px;
}
.wholeCard{
    margin-top:18%;
}
.wholeNoteCard{
    /* width:800px; */
}
.pinImage{
    padding-left:340px;
}
.cancelButton{
    margin-left:130px !important;
}
.wholeTitle{
    padding-left:7px;
}
.moreVertIcon{
    top: "4%" ;
   width:"50%"
}