*{
    margin: 0;
    padding: 0;
}
body{
    display:flex;
    justify-content:center;
    align-items:center;
}
.root{
    margin-top:130px;
    margin-bottom:90px;
    width:100%;
    height:500px;
    padding-left: 55px;
    justify-content:center;
}
.fundoofont { 
    display: flex;
    padding-top: 45px;
    font-size: 2.0em;
    font-weight:bold;
    justify-content:flex-start;
}
.text{
    display: flex;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    justify-content:flex-start;
}
.continue{
    display: flex;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 70;
    justify-content:flex-start;
    color:#4d4d4d;
}
.main{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.flname{
    display: flex;
    justify-content:space-between;
    flex-direction: row;
    size:medium;
}
.username{
    width: 32em !important;
    padding-left: 65px;
    justify-content:center;
}

.usermailline{
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    color: black;
    justify-content:center;
}
.confirmPass{
    display: flex;
    justify-content: space-between;
    flex-direction: row;    
}
.passline{
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
  }
.signbutton{

    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 2em;
    font-size: 16px;
    font-weight:bold;
}

.figcaption{
    font-size: 16px;
    font-weight: 300;
    display: block;
    text-align: center;
}