*{
    margin: 0;
    padding: 0;
}
body{
    display:flex;
    justify-content:center;
    align-items:center;
}
.root{
    margin-top:15%;
    margin-bottom:10%;
    width:100%;
    height:620px;
    padding-left: 55px;
    justify-content:center;
}
.fundoofont { 
    display: flex;
    padding-top: 45px;
    font-size: 2.0em;
    font-weight:bold;
    justify-content:flex-start;
}
.f{
    color: #4285F4;
}
.u{
    color: #DB4437;
}
.n{
    color: #F4B400;
}
.d{
    color: #4285F4;
}
.o{
    color: #0F9D58;
}
.oo{
    color: #DB4437;
}
.text{
    display: flex;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    justify-content:flex-start;
    margin-top:4px;
}
.continue{
    display: flex;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 70;
    justify-content:flex-start;
    color:#4d4d4d;
    margin-top:4px;
}
.main{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.flname{
    display: flex;
    justify-content:space-between;
    flex-direction: row;
    size:medium;
    width:100%;
    margin-top:4px;
}
.lname{
    display: flex;
    justify-content:space-between;
    flex-direction: row;
    size:medium;
    width:100%;
    margin-top:4px;
}
.username{
    width: 40em !important;
    padding-left: 65px;
    justify-content:center;
}
.email{
    font-size:16px;
}
.password{
    font-size:16px;
    
}
.cpassword{
    font-size:16px;
}
.conPass{
    /* padding-left:100px !important; */
}
.name{
    font-size:16px;
}
.usermailline{
    font-size: 15px;
    color: black;
    justify-content:center;
}
.confirmPass{
    display: flex;
    justify-content:space-between;
    flex-direction: row;
    size:medium;
    margin-top:7px;    
}
.passline{
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
  }
.service{
    display: flex;
    justify-content: space-between;
    flex-direction: row; 
    font-size:16px !important;
}
.signbutton{

    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 2em;
    font-size: 16px;
    font-weight:bold;
}
.signimage{
   margin-top:0px;
}
.figcaption{
    font-size: 16px;
    font-weight: 300;
    display: block;
    text-align: center;
}

@media screen and (max-width: 768px){
    .root{
       margin-top:50px;
       border:none !important;
        margin-bottom:200px;
        padding-left: 150px !important;
    }
    .flname{

        margin-top:4px;
    }
    .name{
        width: 12em ;
    }
    .conPass{
        width: 12em ;
    }
    .username{
        width: 36.9em;
        padding-left: 65px;
        justify-content:center;
    }
    .confirmPass{
        display: flex;
        justify-content: space-between;
        flex-direction:column;    
        margin-top:7px;
    }
    .signbutton{

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 2em;
    font-size: 16px;
    font-weight:bold;
    }
}
@media screen and (max-width: 1024px){
    .root{
       border:none !important;
        padding-left: 70px;
        width:73%;
        height:1366px;
    }
    .flname{
        display: flex;
        justify-content:space-between;
        flex-direction: column;
        size:medium;
        width: 100% !important;
        margin-top:4px;
    }
    .name{
        width: 32em !important;
    }
    .conPass{
        width: 32em !important;
    }
    .username{
        width: 36.9em !important;
        padding-left: 65px;
        justify-content:center;
    }
    .confirmPass{
        display: flex;
        justify-content: space-between;
        flex-direction:column;    
        margin-top:7px;
        margin-left:5px !important;
    }
    .signbutton{

    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 2em;
    }
}
@media screen and (max-width: 360px){
    .root{
       border:none !important;
        margin-bottom:200px;
        padding-left: 40px;
    }
    .fundoofont { 
    display: flex;
    padding-top: 45px;
    font-size: 1.5em;
    font-weight:bold;
    justify-content:flex-start;
    margin-left:200px !important;
    }
    .text{
        margin-left:200px !important;
    }
    .continue{
        margin-left:150px !important;
    }
    .flname{
        display: flex;
        justify-content:space-between;
        flex-direction: column;
        size:medium;
        width: 40% !important;
        margin-top:4px;
        margin-left:200px;
    }
    .name{
        width: 17em !important;
    }
    .conPass{
        width: 17em !important;
    }
    .username{
        width: 18.9em !important;
        padding-left: 65px;
        justify-content:center;
        margin-left:200px !important;
    }
    .usermailline{
        margin-left:200px !important;
    }
    .confirmPass{
        display: flex;
        justify-content: space-between;
        flex-direction:column;    
        margin-top:7px;
        margin-left:156px !important;
    }
    .passline{
        margin-left:200px !important;
    }
    .service{
        margin-left:200px !important;
    }
    .signbutton{

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items:center;
    padding: 2em;
    margin-left:210px !important;
    }
}
@media screen and (max-width: 411px){
    .root{
       border:none !important;
        margin-bottom:200px;
        padding-left:130px !important;
    }
    .fundoofont { 
    margin-left:130px !important;
    }
    .text{
        margin-left:130px !important;
    }
    .continue{
        margin-left:130px !important;
    }
    .flname{
        display: flex;
        justify-content:space-between;
        flex-direction: column;
        size:medium;
        width: 40% !important;
        margin-top:4px;
        margin-left:130px;
    }
    .name{
        width: 20em !important;
    }
    .conPass{
        width: 20em !important;
    }
    .username{
        width: 22.9em !important;
        padding-left: 65px;
        justify-content:center;
        margin-left:130px !important;
    }
    .usermailline{
        margin-left:130px !important;
    }
    .confirmPass{
        display: flex;
        justify-content: space-between;
        flex-direction:column;    
        margin-top:7px;
        margin-left:139px !important;
    }
    .passline{
        margin-left:130px !important;
    }
    .service{
        margin-left:130px !important;
    }
    .signbutton{

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items:center;
    padding: 2em;
    margin-left:110px !important;
    }
}
@media screen and (max-width: 320px){
    .root{
       border:none !important;
        margin-bottom:200px;
        padding-left:230px !important;
    }
    .fundoofont { 
    display: flex;
    padding-top: 45px;
    font-size: 1.5em;
    font-weight:bold;
    justify-content:flex-start;
    margin-left:170px;
    }
    .text{
        margin-left:170px !important;
    }
    .continue{
        margin-left:170px !important;
    }
    .flname{
        display: flex;
        justify-content:space-between;
        flex-direction: column;
        size:medium;
        width: 40% !important;
        margin-top:4px;
        margin-left:170px;
    }
    .name{
        width: 18em !important;
    }
    .conPass{
        width: 18em !important;
    }
    .username{
        width: 20.9em !important;
        padding-left: 65px;
        justify-content:center;
        margin-left:170px !important;
    }
    .usermailline{
        margin-left:170px !important;
    }
    .confirmPass{
        display: flex;
        justify-content: space-between;
        flex-direction:column;    
        margin-top:7px;
       margin-left:156px !important;
    }
    .passline{
        margin-left:170px !important;
    }
    .service{
        margin-left:170px !important;
    }
    .signbutton{

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items:center;
    padding: 2em;
    font-size: 16px;
    font-weight:bold;
    margin-top:0px;
    margin-left:150px !important;
    }
}
@media screen and (max-width: 414px){
    .root{
        margin-top:20px !important;
       border:none !important;
        margin-bottom:200px;
        width:100% !important;
        height:100%;
        padding-left:130px !important;
        display:flex;
        flex-direction:column;
        justify-content:center;
    }
    .fundoofont { 
    display: flex;
    padding-top: 45px;
    font-size: 1.5em;
    font-weight:bold;
    justify-content:flex-start;
    margin-left:170px !important;
    }
    .text{
        margin-left:170px !important;
    }
    .continue{
        margin-left:170px !important;
    }
    .flname{
        display: flex;
        justify-content:space-between;
        flex-direction: column;
        size:medium;
        width: 40% !important;
        margin-top:4px;
        margin-left:170px;
    }
    .name{
        width: 20em !important;
    }
    .conPass{
        width: 20em !important;
    }
    .username{
        width: 22.9em !important;
        padding-left: 65px;
        justify-content:center;
        margin-left:170px !important;
    }
    .usermailline{
        margin-left:170px !important;
    }
    .confirmPass{
        display: flex;
        justify-content: space-between;
        flex-direction:column;    
        margin-top:7px;
        margin-left:170px !important;
    }
    .passline{
        margin-left:170px !important;
    }
    .service{
        margin-left:170px !important;
    }
    .signbutton{

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items:center;
    padding: 2em;
    font-size: 16px;
    font-weight:bold;
    margin-top:0px;
    margin-left:170px !important;
    }
}
@media screen and (max-width: 375px){
    .root{
        margin-top:20px !important;
       border:none !important;
        margin-bottom:200px;
        width:100% !important;
        height:100%;
        padding-left:140px !important;
        display:flex;
        flex-direction:column;
        justify-content:center;
    }
    .fundoofont { 
    display: flex;
    padding-top: 45px;
    font-size: 1.5em;
    font-weight:bold;
    justify-content:flex-start;
    margin-left:150px !important;
    }
    .text{
        margin-left:150px !important;
    }
    .continue{
        margin-left:150px;
    }
    .flname{
        display: flex;
        justify-content:space-between;
        flex-direction: column;
        size:medium;
        width: 40% !important ;
        margin-top:4px;
        margin-left:150px;
    }
    .name{
        width: 20em !important;
    }
    .conPass{
        width: 20em !important;
    }
    .username{
        width: 22.9em !important;
        padding-left: 65px;
        justify-content:center;
        margin-left:150px !important;
    }
    .usermailline{
        margin-left:150px !important;
    }
    .confirmPass{
        display: flex;
        justify-content: space-between;
        flex-direction:column;    
        margin-top:7px;
        margin-left:150px !important;
    }
    .passline{
        margin-left:150px !important;
    }
    .service{
        margin-left:150px !important;
    }
    .signbutton{

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items:center;
    padding: 2em;
    font-size: 16px;
    font-weight:bold;
    margin-top:0px;
    margin-left:130px !important;
    }
}